# Network Configuration
SEPOLIA_RPC_URL=https://1rpc.io/sepolia
# API Keys
ETHERSCAN_API_KEY=J8PU7AX1JX3RGEH1SNGZS4628BAH192Y3N
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=e08e99d213c331aa0fd00f625de06e66

# Contract Addresses (Update after deployment)
VITE_DIPLOMA_VAULT_CONTRACT_ADDRESS=0x3dEe389B72d2feed20BF0b0f07385dCBb35D25e5
CONTRACT_ADDRESS=0x3dEe389B72d2feed20BF0b0f07385dCBb35D25e5

# FHE Configuration
VITE_FHE_NETWORK_URL=https://api.zama.ai/fhevm
